<form class="well form-horizontal offset2 span6">
	<legend>Login form</legend>
	<div class="control-group">
		<label class="control-label" for="username">Username: </label>
		<div class="controls">
			<input id="username" type="text" placeholder="Type your username" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="password">Password: </label>
		<div class="controls">
			<input id="password" type="password" placeholder="Enter your password"/>
		</div>
	</div>
	<div class="form-actions">
		<a id="login" class="btn btn-primary">Login</a>
		<a id="cancel" class="btn">Cancel</a>
	</div>
</form>
