<form class="well form-horizontal offset2 span6">
	<legend>Accesso al sistema</legend>
	<div class="control-group">
		<label class="control-label" for="username">Nome utente: </label>
		<div class="controls">
			<input id="username" type="text" placeholder="Inserisci il tuo identificativo" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="password">Password: </label>
		<div class="controls">
			<input id="password" type="password" placeholder="Inserisci la tua password"/>
		</div>
	</div>
	<div class="form-actions">
		<a id="login" class="btn btn-primary">Accedi</a>
		<a id="cancel" class="btn">Annulla</a>
	</div>
</form>
