<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#home">IVNCR</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="dropdown">
						<a href="#"	class="dropdown-toggle"	data-toggle="dropdown">
							Commerciale<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#ClientiList">Clienti...</a></li>
							<li><a href="#ContrattiList">Contratti...</a></li>
							<li><a href="#ServiziList">Servizi...</a></li>
							<li class="disabled"><a href="#ContactsReport">Report...</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Configurazione
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="#">Accessi...</a>
								<ul class="dropdown-menu">
									<li><a href="#UsersList">Utenti...</a></li>
									<li><a href="#RolesList">Ruoli...</a></li>
									<li><a href="#PermissionsList">Permessi...</a></li>
									<li class="disabled"><a href="#">Report...</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
