<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Address book</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="dropdown">
						<a href="#"	class="dropdown-toggle"	data-toggle="dropdown">
							Contacts<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#ContactsList">Manage...</a></li>
							<li><a href="#PagingContactsList">Manage (paged)...</a></li>
							<li class="disabled"><a href="#ContactsReport">Report...</a></li>
							<li><a href="#ContactsExport">Export...</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Users
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Manage...</a></li>
							<li><a href="#">Report...</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
