<div id="permissionPicker" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Permessi disponibili</h3>
	</div>
	<div class="modal-body">
		<form class="form-search">
			<input type="text" id="permissionFilter" class="search-query input-block-level">
		</form>
	</div>
	<div class="modal-footer">
		<a id="closeModal" class="btn">Chiudi</a>
		<a id="saveModalSelection" class="btn btn-primary">Salva</a>
	</div>
</div>	