<form class="well form-horizontal">
	<legend>Contact</legend>
	<div class="control-group">
		<label class="control-label" for="firstname">First name: </label>
		<div class="controls">
			<input 
				id="firstname" 
				type="text" 
				placeholder="Type your first name"
				value="<%=firstName%>" />
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="lastname">Last name: </label>
		<div class="controls">
			<input 
				id="lastname" 
				type="text" 
				placeholder="Type your last name" 
				value="<%=lastName%>"/>
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="phonenumber">Phone number: </label>
		<div class="controls">
			<input 
				id="phonenumber" 
				type="text" 
				placeholder="Type your phone number"
				value="<%=phoneNumber%>" />
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="form-actions">
		<a id="cancel" class="btn">Cancel</a>
		<a id="save" class="btn btn-primary">Save</a>
	</div>
</form>
