<form class="well form-horizontal">
	<legend>Contact</legend>
	<div class="control-group">
		<label class="control-label" for="firstname">Nome: </label>
		<div class="controls">
			<input 
				id="firstname" 
				type="text" 
				placeholder="Inserisci il nome del contatto"
				value="<%=firstName%>" />
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="lastname">Cognome: </label>
		<div class="controls">
			<input 
				id="lastname" 
				type="text" 
				placeholder="Inserisci il cognome del contatto"
				value="<%=lastName%>"/>
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="phonenumber">Numero di telefono: </label>
		<div class="controls">
			<input 
				id="phonenumber" 
				type="text" 
				placeholder="Inserisci il numero di telefono"
				value="<%=phoneNumber%>" />
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="form-actions">
		<a id="cancel" class="btn">Annulla</a>
		<a id="save" class="btn btn-primary">Salva</a>
	</div>
</form>
