<form class="well form-horizontal">
	<legend>Dettaglio del permesso</legend>
	<div class="control-group">
		<label class="control-label" for="permissionstring">Stringa di permesso: </label>
		<div class="controls">
			<input 
				id="permissionstring" 
				type="text" 
				placeholder="Inserisci il stringa di permesso"
				value="<%=permissionString%>" />
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="form-actions">
		<a id="cancel" class="btn">Annulla</a>
		<a id="save" class="btn btn-primary">Salva</a>
	</div>
</form>
